<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://lockop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bb1ffd2d-a744-41f6-8cc2-6ac8555be118/resourceGroups/toyApp/providers/Microsoft.Web/sites/lockop</ResourceId>
    <UserName>$lockop</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://lockop.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>